* {
    box-sizing: border-box
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: #F6F6F6;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    width: auto;
    text-align: center;
    text-anchor: middle;
    vertical-align: middle;
    horiz-align: center;
    font-size: 17px
}

.likebtn {
    background-color: #5ab951;
    color:  #f8f7ff;
    background-position: 25% 50%;
}

.unlikebtn {
    background-color: #b95353;
    color:  #f8f7ff;
    background-position: 25% 50%;
}

#mitabla thead th {
    position: sticky;
    top: 0;
}


h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    margin: 0 0 2rem 0;
    font-family: Verdana;
    font-palette: dark;
    font-weight: bold;
    font-size: 2rem;
    color: #072f6c;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
}

p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 50px;
}

.agencies-header {
    width: 100%;
    height: 150px;
    background-color: #faf25b;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container-fluid{
    background-image: linear-gradient(120deg, #fffdbd 0%, #f8f7ff 100%);
}

.card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
}